:root {
    --bg-right: rgb(244, 245, 247);
}
.wrapper {
    display: flex;
    flex: 1 1;
}

.container {
    position: relative;
    flex-grow: 1;
}
.content {
    padding: 2rem;
    min-height: 100vh;
}


